@import "./Glyphter.css"; 
/* COLORS */
:root {
  --main-color: #ffbb0c;
  --text-color: #fff;
  --background-color: #191e2d;
  --h1-couleur: #cdcdcd;
  --couleulivreemprunté: #233449;
  --couleur-joursdemprunt1: #ff3333;
  --couleurs-joursdeprunt2: #3369ff;
  --couleurs-categoriephp: #7271d4;
  --couleurs-categoriejs: #3B9C82;
  --couleurs-categoriewebd: #bf6ca3;
  --couleurs-categoriejson: #F4DC9C;
  --nav-bg-color: #233449;
  --js-color: #3B9C82;
  --disponible-color: #3B9C6D;
  --indisponible-color: #9C3B3B;
  --infoauteur-color: #b6b6b6;
  --lecteurinfo-color: #B6B6B6;
  --couleur-categoriecarte: #7271D4;
}


*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
STYLES DE TITRES
*/

body {
  background-color: var(--background-color);
  font-family: "Poppins", "Helvetica", "Arial", sans-serif;
  margin: 0;
  color: var(--text-color);
  max-width: 560px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  cursor: pointer;
}


h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  padding: 15px 20px;
}

body {
  padding-bottom: 50px;
}

h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  opacity: 0.9;
  /* padding-left: 20px;
  padding-bottom: 16px; */
}
/* ??????????????????TODO TODO TODO */

h3 {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #FAFAFA;
}

/* Elements fixes */


/* NAVIGATION */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15%;
}

nav {
  position: fixed;
  max-width: 560px;
  width: 100%;
  height: 52px;
  bottom: 0px;
  background-color: var(--nav-bg-color);
  z-index: 1000;
  border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
}

.fleche {
  position: absolute;
  top: 25px;
  left: 24px;
}

.bouton{
  width: 280px;
height: 47px;
font-weight: bold;
font-size: 18px;
line-height: 27px;
text-align: center;
background: var(--disponible-color);
border-radius: 10px;
}
/* FIN ELEMENTS FIXES */


/* STATES */
.indisponible {
  background-color: var(--indisponible-color);
}
.disponible{ 
  background-color: var(--disponible-color);
}


/*--------- CATEGORIES------- */

/* CATEGORIES */
.categories_carte{ 
  padding: 7px 16px;
  width: 144px;
  height: 71px;
  background-color: var(--couleur-categoriecarte);
  border-radius: 5px;
  color: var(--text-color);
  display: inline-block;
  margin: 0 9px 0 0px;
}

.categories_titre {
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 27px;
}

.categories_quantite {
font-size: 15px;
line-height: 22px;
opacity: 0.8;
}


.categories .categories_carte:nth-of-type(1){
    margin-left: 20px;
}



/* Couleurs catégories */
.categories_carte:nth-of-type(1){
  background-color: var(--couleurs-categoriephp);
}


.categories_carte:nth-of-type(2){
  background-color: var(--couleurs-categoriejs);
}


.categories_carte:nth-of-type(3){
  background-color: var(--couleurs-categoriewebd);
}


.categories_carte:nth-of-type(4){
  background-color: var(--couleurs-categoriejson);
}
/*-------- FIN CATEGORIES--------- */


/*--------- SLIDERS LIVRES-------- */
.slider {
  position: relative;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  will-change: transform;
  user-select: none;
  cursor: pointer;
  padding-bottom: 25px;
}

.slider .livre:nth-of-type(1){
  margin-left: 20px;
}

.livre img{
  width: 108px;
  height: 163px;
  border-radius:10px ;
  -webkit-border-radius:10px ;
  -moz-border-radius:10px ;
  -ms-border-radius:10px ;
  -o-border-radius:10px ;
  padding-bottom: 6px;
}

.livre{
  display: inline-block;
  margin: 0 31px 0 0px;
  max-width: 108px;
}



/*------------ FIN SLIDER LIVRE------- */

/*--------- RECOMMANDATIONS LIVRES------- */

.recommandation{
  width: 90%;
  margin: auto;
  padding: 20px 10px;
  display: flex;
  border-bottom: 1px solid var(--text-color);
  position: relative;
}

.fiche_infos_titre{
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color);
}

.fiche{
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  padding-left: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
}

.recommandation:last-of-type{
  border-bottom: none;
}

.fiche_infos_auteur, .fiche_note{
  font-size: 11px;
  line-height: 16px;
  padding-top: 3px;
  color: var(--infoauteur-color);
}

.fiche_note{
  display: flex;
}

.etoile{
  margin-right: 5px;
}

.fiche_nbLecteurs{
  font-size: 10px;
  line-height: 15px; 
  color: var(--lecteurinfo-color);
}

.recommandation img{
  max-width: 72px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  
}
/* FIN SECTION RECOMMANDATIONS */


/* ETIQUETTE */
.etiquette{
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  font-style: normal;
  padding: 3px 5px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  position: absolute;
  top: 45%;
  right: 1%;
}