.fiche {
padding: 73px 24px;     
width: 375px;
height: 109px;


background: #3B9C82;
border-radius: 0px 0px 10px 10px;
}

.jstitre { 
    
    font-family: Poppins;
    font-style: normal;
    font-weight: semibold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    
    color: #FAFAFA;
    
    mix-blend-mode: normal;}

    img {
        width: 87px;
        height: 132px;
        border-radius: 10px;
     }

     .boutondispo {
        width: 66px;
        height: 21.15px;
        background: #3B9C6D;
        border-radius: 7px;
     }

     .dispo2 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 15px;
        text-align: center;
        
        color: #FFFFFF;
     }

     .etoile {
        width: 14px;
        height: 15px;
        
     }

    .p {
        font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 16px;
/* identical to box height */


color: #FFFFFF;
    }

.lelivre {
    /* heading3 */

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;
text-align: center;

color: #FAFAFA;
}

.autor {
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 16px;
/* identical to box height */

text-align: center;

color: #FAFAFA;
}

.pages {
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 16px;
/* identical to box height */


color: #FAFAFA;
}

.indicelibro {
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 19px;
/* identical to box height */

text-align: center;

color: #FFFFFF;

padding: 2px;
border-bottom: 1px solid #FFBB0C;
width: 216px;



}

.boutonreserver {
padding: 36px ;
width: 296.8px;
height: 47px;

background: #3B9C6D;
border-radius: 10px;
}

.reserver {

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #FFFFFF;
}

.livre{
    padding: 25px;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 22px;
/* identical to box height */

text-align: center;

color: #FFBB0C;
}

.avis, .propriètaire {

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 22px;
/* identical to box height */

color: #FFFFFF;

opacity: 0.9;
}

.onglets p{
    display: inline-block;

}

.resumé {
    padding: 25px 23px;
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 21px;

color: #E0E0E0;
}

.inforesume {
padding: 11px 23px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 154.19%;
/* or 20px */


color: #FFFFFF;
}

