.fiche {
    padding: 24px 0 0 20%;
    width: 100%;
    height: 109px;
    background: #3B9C82;
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -ms-border-radius: 0px 0px 10px 10px;
    -o-border-radius: 0px 0px 10px 10px;
}

.fiche_titre { 
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

}

.img_principale {
        width: 28%;
        border-radius: 10px;
        margin: -25px auto 0 auto;
        display: block;

     }

     .boutondispo {
        width: 66px;
        height: 21.15px;
        background: #3B9C6D;
        border-radius: 7px;
        padding: 4px;
        font-weight: bold;
font-size: 10px;
line-height: 15px;
text-align: center;
float: right;
     }

     .fleche{
        position: absolute;
        top : 28px;
        left: 24px;
    }
  
.blocimage{
    position: relative;
}

.blocimage_aside{
    position: absolute;
    top : 55px;
    right:9%;
    display: flex;
    flex-direction: column;
}

.blocimage_aside div{
    display: flex;
    align-items: center;
    font-size: 11px;
    line-height: 35px;
    
}
   .etoile {
        width: 14px;
        height: 15px;
        position: relative;
        top: -1px; 
        margin-right: 5px;
     }
/* 
    .p {
        font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 16px;
color: #FFFFFF;
    } */


.infos_livre{
    text-align: center;
    padding-top: 12px ;
   
}
.infos_livre_titre {
font-weight: 600;
font-size: 15px;
line-height: 22px;
text-align: center;
padding: 0 4%;
}

.infos_livre_auteur, .infos_livre_page {
font-size: 11px;
line-height: 16px;
padding-top: 3px;
}
.infos_livre_page{
    padding-top: 6px;
}

.livre_infos_titre{
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #ffffff;
}
.livre_infos_auteur{
    font-size: 11px;
    line-height: 16px;
    padding-top: 3px;
    color: #b6b6b6;
  }

.table {
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 19px;
text-align: center;
padding-top: 25px;
border-bottom: 1px solid #FFBB0C;
padding-bottom: 5px;
width: fit-content;
margin: auto;
}

.bouton_reserver {
padding: 11px 90px ;
width: 296.8px;
height: 47px;
font-weight: bold;
font-size: 18px;
line-height: 27px;
text-align: center;
background: #3B9C6D;
border-radius: 10px;
display: block;
margin: 25px auto 0 auto;
}

.onglets p{
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 22px;
opacity: 0.9;
display: inline-block;
margin-right: 10%;
}

.onglets p:first-of-type{
    color: #FFBB0C;
    opacity:1;
}


.resume h4 {
    padding-top: 25px;
font-weight: bold;
font-size: 14px;
line-height: 21px;
}

.resume p {
padding-top: 11px;
font-weight: normal;
font-size: 13px;
line-height: 20px;
}

.onglets{
    margin-top: 25px;
}
.onglets, .resume{
    padding: 0 25px;
}

h3{
    padding-top: 30px;
    padding-left: 25px;
    padding-bottom: 15px;
font-weight: 600;
font-size: 15px;
line-height: 22px;
}




/* CATEGORIES */
.categories_carte{ 
    padding: 7px 16px;
    width: 144px;
    height: 71px;
    background-color: #7271D4;
    border-radius: 5px;
    color: white;
}

.categories_titre {
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 27px;
}

.categories_quantite {
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
opacity: 0.75;
}


.slider {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    will-change: transform;
    user-select: none;
    cursor: pointer;
    padding-bottom: 25px;
  }


 
  .categories_carte{
    display: inline-block;
    margin: 0 9px 0 0px;
  }
  .categories .categories_carte:nth-of-type(1){
      margin-left: 25px;
  }


  /* LIVRES SIMILAIRES */
  .livre img{
    width: 108px;
    height: 163px;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
    padding-bottom: 6px;
}

.livre{
    display: inline-block;
    margin: 0 31px 0 0px;
    max-width: 108px;
}

.slider .livre:nth-of-type(1){
    margin-left: 25px;
}
