.recherche_titre {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    
    
    color: #FFBB0C;
}

.recherche_moteur{
    
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
text-align: center;
padding: 16px;
text-decoration: underline #FFFFFF;

text-underline-position: 10px;
/* border-bottom: 1px solid #FFBB0C; */
margin-bottom: 25px;

/* identical to box height */


color: #FFFFFF;

opacity: 0.5;
}

.recherche_section_titre {
    padding-left: 20px;
    padding-bottom: 20px;
}


/* CATEGORIES  */
.categories_carte{ 
    padding: 7px 16px;
    width: 144px;
    height: 71px;
    background-color: #7271D4;
    border-radius: 5px;
    color: white;
    /* display: inline-block; */
}
.categories_titre {

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 27px;
}

.categories_quantite {
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
/* identical to box height */
opacity: 0.75;
}


.slider {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    will-change: transform;
    user-select: none;
    cursor: pointer;
    padding-bottom: 25px;
  }


 
  .categories_carte{

    display: inline-block;
    margin: 0 9px 0 0px;
  }
  .categories .categories_carte:nth-of-type(1){
      margin-left: 20px;
  }

  /* NAVIGATION */

  nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15%;
  }

  .recherche_recommandations {
      /* heading3 */
padding-left: 20px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #FFFFFF;

  }



  .fiche_infos_titre{
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #ffffff;
}


.fiche{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
}

.carte:last-of-type{
    border-bottom: none;
}

/* .carte img, .carte div{
    display: inline-block;
    vertical-align: top;
} */

.fiche{
    padding-left: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
}


.fiche_infos_auteur, .fiche_note{
    font-size: 11px;
    line-height: 16px;
    padding-top: 3px;
    color: #b6b6b6;
  }

  .fiche_note{
    display: flex;
  }
  
  .etoile{
    margin-right: 5px;
  }

  .fiche_nbLecteurs{
    font-size: 10px;
    line-height: 15px; 
    color: #B6B6B6;
  }

  .carte img{
    max-width: 72px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
}



h1{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    
  }

  

h3{
    max-width: 40%;
    font-weight: 600;
font-size: 15px;
line-height: 22px;
color: #FAFAFA;
}


.zonetitre{
    text-align: center;
    padding: 46px 0px 28px 0;
    border-radius: 0 0 10px 10px;
    background-color: var(--js-color);
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    margin-bottom: 44px;
}

/* .zonetitre p, .zonetitre h1{text-align: center;} */

  .fleche{
      position: absolute;
      top : 28px;
      left: 24px;
  }




.zonetitre_suivre{
    font-weight: 600;
font-size: 15px;
line-height: 22px;
width: fit-content;
margin: auto;
border-bottom: 1px solid white;
position: relative;
}

.zonetitre_suivre span{
    position: absolute;
    right: -15px;
    top: 0;
}

.zonetitre_nblivre{
    font-size: 13px;
    line-height: 19px;
    padding-top: 5px;
}

/* ETIQUETTE */
.etiquette{
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
    padding: 3px 5px;
    background-color: var(--disponible-color);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    position: absolute;
    top: 45%;
    right: 1%;
}

.indisponible{
    background-color: var(--indisponible-color);
}

main{
    padding-bottom: 30px;
}


.carte{
    width: 90%;
    margin: auto;
    padding: 20px 10px;
    display: flex;
    border-bottom: 1px solid grey;
    position: relative;
    color: white;
}