/* BARRE DE RECHERCHE */
.barre_recherche_champs{
    padding: 10px 10px;
    background-color: transparent;
    color: var(--text-color);
    margin: 0px auto 25px auto;
    width: 100%;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    border: none;
    border-bottom: 1px solid var(--text-color);
}

.barre_recherche_champs::placeholder{
    color: var(--text-color);
    opacity: 0.5;
}

.barre_recherche{
    position: relative;
    max-width: 60%;
    margin: 0 auto;
}

.barre_recherche p {
    position: absolute;
    right: 3px;
    bottom: 8px;
}
/* FIN BARRE DE RECHERCHE */

/* CATEGORIES  */
.categories_section_titre {
    padding-left: 20px;
    padding-bottom: 16px;
}

/* SECTION RECOMMANDATIONS */
.recommandations_section_titre {
    padding-left: 20px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
}
/* ?????????????? */

main{
    padding-bottom: 15px;
}


