/* ----------ELEMENTS COMMUNS----------- */
#stepTitle{
    position: absolute;
    left: 75px;
top: 20px;
font-weight: 600;
line-height: 30px;
}

.title:first-of-type{
    opacity: 1;
}

  
.wrapper{
    padding-bottom: 10px;
}


/* SECTION TUNNEL */
.tunnel{
    width: 241px;
    height: 40px;
    display: block;
    margin: 81px auto 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}


.tunnel_rond{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
}

.tunnel_rond p{
    position: absolute;
    font-size: 9px;
    line-height: 13px;
top: 25px;
z-index: 2;
width:70px;
margin-left:-30px;
left:50%;
}


.tunnel_rond_active{
    background-color: var(--main-color);
    color: var(--main-color);
}

.line{
    height: 1px;
    width: 54px;
    background-color: white;
}
/* FIN SECTION TUNNEL */



.step{
    padding: 30px 30px 75px 30px;
    position: absolute;
    width: 100%;
    height: 80%;
    transition: all 1s;
    will-change: transform;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;

    opacity: 0;
    pointer-events: none;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

.step-active{
   opacity: 1;
   pointer-events: auto;
   transform: scale(1);
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   -o-transform: scale(1);
}

.bouton_confirmation {
    padding: 11px 20px ;
    width: 280px;
    height: 47px;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    background: var(--disponible-color);
    border-radius: 10px;
    margin: 0 auto;
    
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 20px;
    
    border: none;
    color: var(--text-color);
}


.disabled{
    opacity: .7;
}
/* ---------- FIN ELEMENTS COMMUNS----------- */




/* -----------step 3---------- */
/* INFOS LIVRE */
.confirmation_titre {
font-weight: 600;
font-size: 20px;
line-height: 30px;
text-align: center;
}

.confirmation_soustitre {
font-size: 11px;
line-height: 16px;
text-align: center;
}

.confirmation_image {
    width: 87px;
    height: 132px;
    border-radius: 10px;
    margin: 20px auto 11px auto;
    display: block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.confirmation_titrelivre {
font-weight: 600;
font-size: 15px;
line-height: 22px;
text-align: center;
} 

.confirmation_auteur {
padding: 7px;
font-weight: normal;
font-size: 11px;
line-height: 16px;
text-align: center;}

.confirmation_paragraphe{
padding: 20px 0 0;
font-weight: normal;
font-size: 13px;
line-height: 15px;
}

.confirmation_texte{
padding: 10px 0;
}

/* ----------- FIN step 3 --------- */


/* ----------- step 2 --------- */

/* INFOS  */
.recapitulatif_info{
    padding:  5px 0px;
    display: flex;
    justify-content: space-around;
}
.recapitulatif_info p{
    line-height: 40px;
}


.recapitulatif_intitule, .recapitulatif_valeur{
    display: inline-block;
}
.recapitulatif_intitule {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    padding-right: 10px;
}

.recapitulatif_valeur{
font-size: 13px;
line-height: 21px;
}

/* DATES  */
.recapitulatif_dates{
    display: flex;
    text-align: center;
    padding:10px 0;
    justify-content: space-around;
}


.recap_retrait, .recap_retour {
font-weight: bold;
font-size: 14px;
line-height: 21px;
}

.recap_retrait_date, .recap_retour_date {
font-weight: bold;
font-size: 21px;
line-height: 31px;
color: var(--main-color);
padding-top: 15px;
}

.carte{
    width: 300px;
    margin: auto;
    padding: 20px 10px;
    display: flex;
    position: relative;
    max-width: 100%;
}


/* ----------- FIN step 2 --------- */


.fiche_infos_titre{
    font-weight: 600;
    font-size: 13px;
    line-height: 19px
}

.fiche{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    padding-left: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.carte:last-of-type{
    border-bottom: none;
}

.fiche_infos_auteur, .fiche_note{
    font-size: 11px;
    line-height: 16px;
    padding-top: 3px;
  }

  .fiche_note{
    display: flex;
  }
  
  .etoile{
    margin-right: 5px;
  }

  .carte img{
    max-width: 88px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
}

/* ----------- step 1 --------- */

.retrait_infos_titre, .livre_infos_titre{
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
}

.retrait_carte{
    width: 100%;
    height: 99px;
    background-color:  var(--couleulivreemprunté);
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.retrait_carte img, .retrait_carte div{
    display: inline-block;
    vertical-align: top;
}

.retrait_carte div{
    padding-left: 15px;
}


.retrait_infos_auteur, .retrait_infos_jour{
    font-size: 11px;
    line-height: 16px;
    padding-top: 3px;
}

.retrait_infos_jour {  
    padding-top: 6px;    
}


.retrait_carte img{
    max-width: 65px;
    max-height: 65px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* ----------- FIN step 1 --------- */


.modedderetrait_titre{  
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    padding-top: 10px;
    }
    
.selected{
       box-shadow:0px 0px 0px 1px var(--main-color) inset;
    }