@import "./reset.css"; 

.fleche{
    position: absolute;
    top : 25px;
    left: 24px;
}

.title{
position: absolute;
left: 75px;
top: 20px;
font-weight: 600;
font-size: 20px;
line-height: 30px;
}


.tunnel{
    width: 241px;
    height: 40px;
    display: block;
    margin: 81px auto 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


.tunnel_rond{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
}

.tunnel_rond p{
    position: absolute;
    font-size: 9px;
line-height: 13px;
top: 25px;
z-index: 2;
width:70px;
margin-left:-30px;
left:50%;
}


.active{
    background-color: var(--main-color);
    color: var(--main-color);
}

.line{
    height: 1px;
    width: 54px;
    background-color: white;
}


.etape{
    padding: 30px 30px 75px 30px;
    position: absolute;
    width: 100%;
    transition: all 1s;
    will-change: transform;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.etape:nth-child(2),.etape:nth-child(3){
    opacity: 0;
    pointer-events: none;
}

.confirmation_titre {
font-weight: 600;
font-size: 20px;
line-height: 30px;
text-align: center;
}

.confirmation_soustitre {
font-size: 11px;
line-height: 16px;
text-align: center;
}

.confirmation_image {
    width: 87px;
    height: 132px;
    border-radius: 10px;
    margin: 20px auto 11px auto;
    display: block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.confirmation_titrejs {
font-weight: 600;
font-size: 15px;
line-height: 22px;
text-align: center;
} 

.confirmation_auteur {
padding: 7px;
font-weight: normal;
font-size: 11px;
line-height: 16px;
text-align: center;}



.confirmation_paragraphe{
padding: 20px 0 0;
font-weight: normal;
font-size: 13px;
line-height: 15px;
}

.confirmation_texte{
padding-top: 10px;
}


.bouton_confirmation {
    padding: 11px 20px ;
    width: 280px;
    height: 47px;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    background: #3B9C6D;
    border-radius: 10px;
    margin: 0 auto;
    
    position: fixed;
    left: 5%;
    right: 5%;
bottom: 20px;
    }




/* PAGE RECAP */


.recapitulatif_info{
    padding:  5px 0px;
    display: flex;
    justify-content: space-around;
}
.recapitulatif_info p{
    line-height: 40px;
}


.recapitulatif_intitule, .recapitulatif_valeur{
    display: inline-block;
}
.recapitulatif_intitule {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    padding-right: 10px;
}

.recapitulatif_valeur{
    font-weight: normal;
font-size: 13px;
line-height: 21px;
}

.recapitulatif_dates{
    display: flex;
    text-align: center;
    padding:10px 0;
    justify-content: space-around;
}

.recap_retrait, .recap_retour {
font-weight: bold;
font-size: 14px;
line-height: 21px;
}

.recap_retrait_date, .recap_retour_date {
font-weight: bold;
font-size: 21px;
line-height: 31px;
color: #FFBB0C;
padding-top: 15px;
}

.retrait:first-of-type{
    margin-right: 10px;
}


.carte{
    width: 300px;
    margin: auto;
    padding: 20px 10px;
    display: flex;
    border-bottom: 1px solid grey;
    position: relative;
    color: white;
}



.fiche_infos_titre{
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #ffffff;
}


.fiche{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
}

.carte:last-of-type{
    border-bottom: none;
}

/* .carte img, .carte div{
    display: inline-block;
    vertical-align: top;
} */

.fiche{
    padding-left: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
}


.fiche_infos_auteur, .fiche_note{
    font-size: 11px;
    line-height: 16px;
    padding-top: 3px;
    color: #b6b6b6;
  }

  .fiche_note{
    display: flex;

  }
  
  .etoile{
    margin-right: 5px;
  }

  .carte img{
    max-width: 88px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
}




/* STEP 1 */




.modederetrait_pointretrait{

    /* heading3 */
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    }
    
    .wrapper_emprunt_liste {
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
      }
    
    .titreSection p, .wrapper_emprunt_title p {
        font-size: 12px;
        line-height: 18px;
        color: #ffbb0c;
    }
    
    .wrapper_emprunt_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .emprunts_infos_titre, .livre_infos_titre{
        font-weight: 600;
        font-size: 13px;
        line-height: 19px;
        color: #ffffff;
    }
    
    
    .emprunts .emprunts_carte:nth-of-type(1){
        margin-left: 20px;
    }
    
    
    .emprunts_carte{
        width: 100%;
        height: 99px;
        background-color:  var(--couleulivreemprunté);
        padding: 10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        margin-top: 15px;
        margin-right: 15px;
        display: flex;
        align-items: center;
    }
    
    .emprunts_carte img, .emprunts_carte div{
        display: inline-block;
        vertical-align: top;
    }
    
    .emprunts_carte div{
        padding-left: 15px;
    }
    
    
    
    
    .titreSection{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        margin-bottom: 16px;
    }
    
    .emprunts_infos_auteur{
        font-size: 11px;
        line-height: 16px;
        padding-top: 3px;
        color: #ffffff;
      }
    
      .emprunts_infos_jour{
        font-size: 11px;
      line-height: 16px;
      color: #ffffff;  
     
      padding-top: 6px;    
      }
    
    
      .emprunts_carte img{
          max-width: 65px;
          max-height: 65px;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
    }
    
    .livre img{
        width: 108px;
        height: 163px;
        border-radius:10px ;
        -webkit-border-radius:10px ;
        -moz-border-radius:10px ;
        -ms-border-radius:10px ;
        -o-border-radius:10px ;
        padding-bottom: 6px;
    }
    
    .livre{
        display: inline-block;
        margin: 0 31px 0 0px;
        max-width: 108px;
    }
    
    .slider .livre:nth-of-type(1){
        margin-left: 20px;
    }
    
    
    
    .modedderetrait_enmain{
        
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    padding-top: 10px;
    }
    
    
    .wrapper{
        padding-bottom: 10px;
    }
    
    
    
    .emprunts_carte:hover{
       box-shadow:0px 0px 0px 1px var(--main-color) inset;
    }