:root{
    --main-color: #ffbb0c;
    --couleur-background: #191e2d;
    --couleur-prêt: #cdcdcd;
    --couleulivreemprunté: #233449; 
    --couleur-joursdemprunt1: #ff3333;
    --couleurs-joursdeprunt2: #3369ff;
    --couleurs-categoriephp: #7271d4;
    --couleurs-categoriejs: #3b9c82;
    --couleurs-categoriewebd: #bf6ca3;
  }

*,
*:before,
*:after {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

/*
  LOCAL RESET
*/
body {
    background-color: var(--couleur-background);
  font-family: "Poppins", "Helvetica", "Arial", sans-serif;
  margin: 0;
  color: white;
  max-width: 560px;
}

/* h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: var(--roboto-weight-regular);
  font-size: 18px;
  line-height: 24px;
} */
a {
  text-decoration: none;
}
