

body{
    max-width: 375px;
    color: white;
    /* background-color: red; */
}

h1 {

    
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #ffbb0c;
  }

h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;  
    color: #ffffff;
    opacity: 0.9;
}


.listeEmprunt {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
  }

.titleSection p, .titlewrapper p {
    font-size: 12px;
    line-height: 18px;
    color: #ffbb0c;
}

.titlewrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.titreLivre{
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #ffffff;
}


.card{
    width: 214px;
    height: 99px;
    background-color:  var(--couleulivreemprunté);
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
   padding: 15px 20px;
}
nav h1{
    margin-right: 26px;
}

.wrapper{
    padding-top: 25px;
    padding-left: 20px;
    padding-right:20px ;
}

.wrapperEmprunt{
    padding-left: 20px;
    padding-right: 20px;
}


.titleSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auteur{
    font-size: 11px;
    line-height: 16px;
    padding-top: 3px;
    color: #b6b6b6;
  }

  .jours{
    font-size: 11px;
  line-height: 16px;
  color: #ff3333;  
  text-align: right;
  padding-top: 12px;    
  }

  .sliderLivre{
      display: flex;
      justify-content: space-around;
  }

  .card img{
      max-width: 52px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
}